<div class="form-group">
    <label for="adminunit" class="form-label">Населенный пункт</label>
    <input id="adminunit" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="name_team" class="form-label">Название команды</label>
    <input id="name_team" type="text" class="form-control">
</div>


<div class="details" hidden="hidden">
    <span data-geo="country"></span>
    <span data-geo="administrative_area_level_1"></span>
    <span data-geo="administrative_area_level_2"></span>
    <span data-geo="locality"></span>
    <span data-geo="sublocality"></span>
    <span data-geo="id"></span>
</div>