{% extends '::base.html.twig' %}

{% block page_title %} Редактирование турнира {% endblock %}

{% block bl1 %}
    Теперь вы можете приступить к редактированию турнира. Начать можно с любого пункта

    <ul>
        <li> <a href="{{ path('moi_kubki_football_editteams',{'id':id}) }}">Редактировать список команд</a> </li>
        <li> <a href="{{ path('moi_kubki_football_editstages',{'id':id}) }}">Редактировать этапы</a> </li>
    </ul>

{% endblock %}
