{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<button class="btn btn-default btn-block" id="createTeam">Добавить</button>

<ul class="details" hidden="true">
    <li>Counry:     <span data-geo="country" /></li>
    <li>administrative_area_level_1:     <span data-geo="administrative_area_level_1" /></li>
    <li>administrative_area_level_2:     <span data-geo="administrative_area_level_2" /></li>
    <li>locality:    <span data-geo="locality" /></li>
    <li>sublocality: <span data-geo="sublocality" /></li>
</ul>
